@{
    ViewData["Title"] = "Фирми";
}

@model Firm_Register.ViewModels.FirmViewModel
<style>
    body {
        background-color: #f2f2f2;
    }

    td {
        border-top: 1px solid black;
    }

    table {
        width: 1000px;
    }

    th {
        height: 50px;
    }

    td {
        height: 30px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
<div class="container" style=" text-align: center; background-color: white; padding-top: 1em; padding-bottom: 0.5em;" align="center">
    <h4 style="text-align: center;">Търсене на фирма</h4>

    <div class="search-container;" style="text-align: center;">
        <form>
            <script>
                    var name = "";
                    function safe() {
                        name = document.getElementById("search").value;
                    }
                    function go()
                    {
                        var check = "f";
                        location.href = '@Url.Action("Index", "Firms")?text=' + name + '&check=' + check;
                    }
            </script>
            <input style="width:300px" type="text" placeholder="Търси..." id="search" onblur="safe()">
            <button type="button" onclick="go()">Търси</button>
        </form>
    </div>    <hr>
    <h4 style="margin-bottom: 10px;">Търсене по област</h4>

    <p style="line-height: 20px; column-count: 4; column-gap: 0.9375px; margin-left: 12em; margin-right: 12em;">
        @foreach (var obj in Model.Regions)
        {
            <tr>
                <td><a asp-controller="Firms" asp-action="Index" asp-route-text=@obj.Region_Name asp-route-check="t">@Html.Label(obj.Region_Name)</a></td>
                <br>
            </tr>
        }
    </p>
</div>
<hr>
<div style="background-color: white; padding-top: 1em; padding-bottom:1.5em;">
    @if (ViewBag.check != "f")
    {<h4 style="text-align:center;">Фирми в област @ViewBag.text</h4>}
else
{<h4 style="text-align:center;">Фирми съдържащи "@ViewBag.text"</h4>}
    <table style="text-align: center; vertical-align:central;" align="center" ;>
        <tr style="background-color: #bbbbbb; font-size: 17px; ">
            <th style="width: 150px"><b>ЕИК</b></th>
            <th style="width: 650px"><b>Наименование</b></th>
            <th style="width: 200px"><b>Дата на регистрация</b></th>
        </tr>
        @if (ViewBag.check != "f")
            foreach (var obj in Model.Firms.Where(x => x.Region.Region_Name == ViewBag.text).ToList())
            {
                <tr>
                    <td><b>@obj.EIK</b></td>
                    <td><a asp-controller="Firms" asp-action="Info" asp-route-firm_Name=@obj.Firm_Name>@obj.Firm_Name</a></td>
                    <td>@obj.Found_Date.Day.@obj.Found_Date.Month.@obj.Found_Date.Year</td>
                </tr>
            }
        else foreach (var obj in Model.Firms.Where(x => x.Firm_Name.ToLower().Contains(ViewBag.text.ToLower()) == true).ToList())
            {
                <tr>
                    <td><b>@obj.EIK</b></td>
                    <td><a asp-controller="Firms" asp-action="Info" asp-route-firm_Name=@obj.Firm_Name>@obj.Firm_Name</a></td>
                    <td>@obj.Found_Date.Day.@obj.Found_Date.Month.@obj.Found_Date.Year</td>
                </tr>
            }
    </table>
</div>
